.loading-container {
  position: fixed;
  inset: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lottie-wrapper {
  width: 300px;
  height: 300px;
}
